.BorderedGroup {
  border: 4px solid transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 100%;

  &--small {
    border-radius: 8px;
    border-width: 2px;
    padding: 10px 20px;
  }

  &--royal-blue {
    border-color: get-color('royal-blue');
  }

  &--azure {
    border-color: get-color('azure');
  }

  &--affair {
    border-color: get-color('affair');
  }

  &--cadillac {
    border-color: get-color('cadillac');
  }

  &--ocean-green {
    border-color: get-color('ocean-green');
  }
}
