.JobPage {
  margin-bottom: 20px;
  @mixin font($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
  }

  h2 {
    padding-bottom: 20px;
    @include font(22px, 30px);
    font-weight: 800;

    @include media-breakpoint-down(md) {
      @include font(18px, 26px);
      font-weight: 800;
    } 
  }

  p {
    padding-bottom: 20px;
    @include font(18px, 28px);
    font-weight: 400;
    width: 60%;
    text-align: justify;

    @include media-breakpoint-down(md) {
      @include font(16px, 26px);
    }
  }

  li {
    flex: 0 0 100%;
    max-width: 100%;
    @include font(16px, 20px);
    font-weight: 400;
    text-align: justify;

    @include media-breakpoint-down(md) {
      @include font(14px, 26px);
    }

    padding-bottom: 0.7em;
    position: relative;

    @include media-breakpoint-down(md) {
      display: flex;
    }

    &::before {
      content: '';
      height: 1px;
      left: -30px;
      position: absolute;
      top: calc(50% - 0.35em);
      transform: translate(0, -50%);
      width: 17px;
      background-color: #ADC9D2;

      @include media-breakpoint-down(md) {
        flex: 0 0 17px;
        margin-right: 20px;
        margin-top: 0.75em;
        position: static;
        vertical-align: top;
      }
    }
  }

  // li:nth-child(odd) {
  //   padding-right: 5%;
  // }
  // li:nth-child(even) {
  //   max-width: 45%;
  // }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
}
